In [2]:
%matplotlib inline  
import numpy as np
import pandas as pd
from pylab import *
import os
from Txt2DataFrame import *

In [2]:
main_dir= "../Study_03_CBA/"

In [3]:
TE=np.linspace(10,120,120)

In [4]:
# Create List of T2 MSME data
file_names=list()
for file in os.listdir(main_dir):
    if file.endswith("T2.txt"):
        file_names.append(file)

In [6]:
# Process each T2 file
for file_name in file_names:
    df=Txt2DataFrame(main_dir,file_name,12)

In [9]:

Txt2DataFrame(main_dir,file_names[0],12)

       ROI_1     ROI_2     ROI_3     ROI_4
0   367892.0  263009.0  270195.0  281861.0
1   328246.0  201351.0  216117.0  226610.0
2   260527.0  114746.0  131092.0  135326.0
3   222104.0   91496.0  106150.0  106749.0
4   187868.0   56680.0   68406.0   68951.0
5   173426.0   45618.0   53132.0   55005.0
6   152167.0   25581.0   39944.0   35087.0
7   133992.0   25784.0   31413.0   31932.0
8   128603.0   15702.0   22174.0   21866.0
9   115221.0   14972.0   20877.0   20103.0
10  106364.0   13531.0   17704.0   15271.0
11   99744.0   12820.0   16177.0   16793.0

In [ ]:
     
        data_frame["Mouse"]=file_name.split("_")[1][1]
        data_frame["Slice"]=file_name.split("_")[2][1]
        data_frame["Year"]=file_name.split("_")[3]
        data_frame["Day"]=float(file_name.split("_")[4])
        data_frame["Month"]=float(file_name.split("_")[5])
        my_list.append(data_frame)

In [ ]:
# Convert .txt to frame
file_name = "Goldenberg_M5_S5_2017_1_6_T2.txt"
data_frame=Txt2DataFrame(main_dir,file_name)

In [ ]:
# Echo Time
data_frame["EchoTimeMsec"]=TE
# Allocate new columns based on file heading
data_frame["Mouse"]=file_name.split("_")[1][1]
data_frame["Slice"]=file_name.split("_")[2][1]
data_frame["Year"]=file_name.split("_")[3]
data_frame["Month"]=float(file_name.split("_")[4])
data_frame["Day"]=float(file_name.split("_")[5])

data_frame.head(2)

In [ ]:
data_frame.to_csv("Hola.csv")

In [ ]:
df1=data_frame

In [ ]:
plot(TE,df1.ROI_1.values)

In [ ]:
file_name = "Goldenberg_M3_S2_2017_1_4_T2.txt"
data_frame=Txt2Csv(main_dir,file_name)
# Echo Time
data_frame["EchoTimeMsec"]=TE
# Allocate new columns based on file heading
data_frame["Mouse"]=file_name.split("_")[1][1]
data_frame["Slice"]=file_name.split("_")[2][1]
data_frame["Year"]=file_name.split("_")[3]
data_frame["Month"]=float(file_name.split("_")[4])
data_frame["Day"]=float(file_name.split("_")[5])

data_frame.head(2)

In [ ]:
df2=data_frame

In [ ]:
DF=pd.concat([df1,df2], axis=0, ignore_index=False)

In [ ]:
DF.head(2)

In [ ]:
DF.tail(2)

In [ ]:
s=DF.ROI_1.values
plot(TE,np.reshape(s,(12,2)))

In [ ]:
DF.transpose()